<div class="flex h-20 bg-[#424669] text-center items-center justify-center pl-10 pr-10">
    <p class="text-[14px] sm:text-[17px] opacity-60 text-[#ffffff]">© 2025 Fabio Vallejo | Todos los derechos reservados </p>
</div>