<div class="p-15 sm:p-20 items-center justify-center text-center">
    <p class="text-[28px] sm:text-[35px] font-[600]">Contactame</p>
    <h3 class="text-[15px] sm:text-[20px] pb-10">Trabajemos en tu presencia digital</h3>
    <div class="text-center sm:text-left">
        <form class="grid grid-cols-1 sm:grid-cols-2 gap-6 max-w-xl mx-auto">  
            <div>
                <label for="nombre">Nombre<span class="text-[#F8B179]"> *</span></label>
                <input type="text" id="nombre" class="w-full bg-[#676F9D] h-11 rounded-[8px] pl-3 pr-3" required placeholder="Ingresa tu nombre">
            </div>
            <div>
                <label for="apellidos">Apellidos<span class="text-[#F8B179]"> *</span></label>
                <input type="text" id="apellidos" class="w-full bg-[#676F9D] h-11 rounded-[8px] pl-3 pr-3" required placeholder="Ingresa tu apellido">
            </div>

            <div class="sm:col-span-2">
                <label for="email">Correo Electrónico<span class="text-[#F8B179]"> *</span></label>
                <input type="email" id="email" class="w-full bg-[#676F9D] h-11 rounded-[8px] pl-3 pr-3" required placeholder="Ingresa tu email">
            </div>

            <div class="sm:col-span-2">
                <label for="telefono">Número de Teléfono<span class="text-[#F8B179]"> *</span></label>
                <input type="tel" id="telefono" class="w-full bg-[#676F9D] h-11 rounded-[8px] pl-3 pr-3" required placeholder="Ingresa tu telefono">
            </div>

            <div class="sm:col-span-2">
                <label for="mensaje">Mensaje<span class="text-[#F8B179]"> *</span></label>
                <textarea id="mensaje" class="w-full h-32 bg-[#676F9D] rounded-[8px] pl-3 pr-3 pt-2" required placeholder="Ingresa tu mensaje"></textarea>
            </div>

            <div class="sm:col-span-2 text-center">
                <button class="bg-[#F8B179] mt-2 pt-3 pb-3 pl-5 pr-5 text-[15px] sm:text-[20px] rounded-[15px]">Enviar</button>
            </div>
        </form>
    </div>
</div>