<div id="index" class="flex flex-col p-10 md:p-20 lg:p-30 lg:flex-row lg:items-center">
    <div class="text-center lg:text-left lg:w-[55%] lg:pr-[5rem]">
        <h1 class="text-[32px] sm:text-[48px] font-[600]">Eleva Tu Negocio con Diseño Web a Medida en Perú</h1>
        <p class="pt-[1rem] sm:pt-0 text-[15px] sm:text-[20px]">Soy Fabio Vallejo, programador especializado en crear sitios web modernos,
            rápidos y totalmente personalizados. Desarrollo desde cero, sin plantillas
            ni límites, adaptándome a lo que tu proyecto realmente necesita.</p><br>
        <p class="text-[15px] sm:text-[20px]"> Trabajo con las tecnologías más adecuadas para cada cliente, asegurando resultados
            escalables, funcionales y optimizados para destacar tu marca, atraer clientes
            y posicionarte mejor en Google con un buen posicionamiento SEO.</p>
        <button class="bg-[#F8B179] pt-3 pb-3 pl-5 pr-5 rounded-[15px] text-[15px] sm:text-[20px] mt-4">Quiero Saber Más</button>
    </div>
    <div class="lg:w-[45%] justify-items-center pt-10 lg:pt-0">
        <img class="rounded-[200px] sm:w-100 w-65 lg:align-middle" src="../../public/assets/yo.png" alt="Perfil">
    </div>
</div>  