<div id="projects" class="p-15 sm:p-20 items-center justify-center text-center">
    <h3 class="text-[28px] sm:text-[35px] font-[600] pb-10">Algunos Proyectos Web</h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-15">
        <div class="lg:pr-5 lg:pl-25">
            <img class="rounded-[10px] shadow-[0_12px_32px_rgba(0,0,0,0.4),0_6px_16px_rgba(0,0,0,0.2)]" src="../../public/assets/fotocheckspe.webp" alt="Fotochecks Peru">   
            <h4 class="pt-10 text-[22px] sm:text-[28px] font-[600]">Fotochecks.pe</h4>
            <p class="text-[15px] sm:text-[20px]">Página de Soluciones en Impresoras de Fotochecks e Identificación.
                 En este proyecto se trabajo tanto el diseño web, como el SEO y la
                  publicidad online con Google Ads.</p><br>
            <p class="text-[15px] sm:text-[20px]">El foco fue impulsar las ventas del negocio mediante secciones claras
               , con un estudio de palabras clave y publicidad online.</p>
        </div>
        <div class="lg:pr-25 lg:pl-5">
            <img class="rounded-[10px] shadow-[0_12px_32px_rgba(0,0,0,0.4),0_6px_16px_rgba(0,0,0,0.2)]" src="../../public/assets/piedraperucom.webp" alt="Piedra Peru">
            <h4 class="pt-10 text-[22px] sm:text-[28px] font-[600]">Piedraperu.com</h4>
            <p class="text-[15px] sm:text-[20px]">Página de Superficies de Piedra Sinterizada, Cuarzo y Granito. En este
                 proyecto se trabajo tanto el diseño web como la estrategia SEO de la empresa.</p><br>
            <p class="text-[15px] sm:text-[20px]">Con un estudio de palabras clave exhaustivo se estructuro el sitio web
                 en base al catalogo y necesidades del negocio.</p>
        </div>
    </div>
    <button id="projects-button" class="bg-[#F8B179] pt-3 pb-3 pl-5 pr-5 rounded-[15px] text-[15px] sm:text-[20px] mt-4
     shadow-[20px_20px_40px_rgba(0,0,0,0.6),-20px_-20px_40px_rgba(255,255,255,0.08)] hover:shadow-[16px_16px_32px_rgba(0,0,0,0.7),-16px_-16px_32px_rgba(255,255,255,0.12)]
      active:shadow-[inset_10px_10px_20px_rgba(0,0,0,0.5),inset_-10px_-10px_20px_rgba(255,255,255,0.1)] transition-all duration-300 hover:-translate-y-1.5 active:translate-y-0
       text-white font-medium hover:cursor-pointer">Quiero Cotizar</button>
</div>

<script>
    const buttonProjects = document.getElementById('projects-button');
    buttonProjects?.addEventListener('click', function(){
        document.getElementById('cotizar')?.scrollIntoView({
            behavior: "smooth"
        });
    });
</script>