<div class="p-15 sm:p-20 items-center justify-center text-center">
    <h3 class="text-[28px] sm:text-[35px] font-[600] pb-10">Algunos Proyectos Web</h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-15">
        <div class="lg:pr-5 lg:pl-25">
            <img class="rounded-[10px]" src="../../public/assets/fotocheckspe.webp" alt="Fotochecks Peru">   
            <h4 class="pt-10 text-[22px] sm:text-[28px] font-[600]">Fotochecks.pe</h4>
            <p class="text-[15px] sm:text-[20px]">Página de Soluciones en Impresoras de Fotochecks e Identificación.
                 En este proyecto se trabajo tanto el diseño web, como el SEO y la
                  publicidad online con Google Ads.</p><br>
            <p class="text-[15px] sm:text-[20px]">El foco fue impulsar las ventas del negocio mediante secciones claras
               , con un estudio de palabras clave y publicidad online.</p>
        </div>
        <div class="lg:pr-25 lg:pl-5">
            <img class="rounded-[10px]" src="../../public/assets/piedraperucom.webp" alt="Piedra Peru">
            <h4 class="pt-10 text-[22px] sm:text-[28px] font-[600]">Piedraperu.com</h4>
            <p class="text-[15px] sm:text-[20px]">Página de Superficies de Piedra Sinterizada, Cuarzo y Granito. En este
                 proyecto se trabajo tanto el diseño web como la estrategia SEO de la empresa.</p><br>
            <p class="text-[15px] sm:text-[20px]">Con un estudio de palabras clave exhaustivo se estructuro el sitio web
                 en base al catalogo y necesidades del negocio.</p>
        </div>
    </div>
    <button class="bg-[#F8B179] mt-10 pt-3 pb-3 pl-5 pr-5 text-[15px] sm:text-[20px] rounded-[15px]">Quiero Cotizar</button>
</div>