---
import Card from "./CardServicio"
---

<div id="services" class=" mt-10 mb-10 ml-14 mr-14 lg:ml-28 lg:mr-28 xl:ml-55 xl:mr-55 text-center items-center justify-center rounded-[15px]">
    <h2 class="text-[28px] sm:text-[40px] font-[600] pb-10">Servicios de Diseño Web</h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-15">
        <Card client:load imagen= "../../public/assets/diseno-web.webp" alt="Diseño Web" titulo={"Diseño Web Personalizado"} 
        descripcion={"Primero diseño y maqueto el sitio en base a tus objetivos. Luego, definimos juntos si se desarrollará con código o con un CMS como WordPress, según lo que más convenga en funcionalidad, escalabilidad y mantenimiento."} />
        <Card client:load imagen= "../../public/assets/SEO.webp" alt="SEO" titulo={"Optimizacion SEO Técnica"} 
        descripcion={"Implemento las mejores prácticas de SEO: una estructura clara con palabras clave, tiempos de carga rápidos, etiquetas optimizadas y compatibilidad total con buscadores. Para que no solo tengas una web bonita, sino también visible."} />
        <Card client:load imagen= "../../public/assets/wpo.webp" alt="WPO" titulo={"Velocidad y Rendimiento Web"} 
        descripcion={"Tu sitio cargará en segundos gracias a el uso de tecnologías ligeras y frameworks modernos para ofrecer una experiencia rápida, fluida y sin errores. Ideal para mejorar conversiones y posicionamiento."} />
    </div>
    <button id="services-button" class="bg-[#F8B179] pt-3 pb-3 pl-5 pr-5 rounded-[15px] text-[15px] sm:text-[20px] mt-12 shadow-[20px_20px_40px_rgba(0,0,0,0.6),-20px_-20px_40px_rgba(255,255,255,0.08)] hover:shadow-[16px_16px_32px_rgba(0,0,0,0.7),-16px_-16px_32px_rgba(255,255,255,0.12)] active:shadow-[inset_10px_10px_20px_rgba(0,0,0,0.5),inset_-10px_-10px_20px_rgba(255,255,255,0.1)]
     transition-all duration-300 hover:-translate-y-1.5 active:translate-y-0 text-white font-medium hover:cursor-pointer">Quiero Más Información</button>
</div>

<script>
    const buttonServices = document.getElementById('services-button');
    buttonServices?.addEventListener('click', function(){
        document.getElementById('cotizar')?.scrollIntoView({
            behavior: "smooth"
        });
    });
</script>