<div id="services" class="bg-[#424669] mt-10 mb-10 ml-10 mr-10 lg:m-25 lg:mr-25 p-10 sm:p-20 text-center items-center justify-center rounded-[15px] shadow-[0_8px_24px_rgba(0,0,0,0.25),inset_0_1px_2px_rgba(255,255,255,0.05)]">
    <h2 class="text-[28px] sm:text-[40px] font-[600] pb-5">Servicios de Diseño Web</h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-15">
        <div>
            <img class="rounded-[10px] mb-7 shadow-[0_8px_24px_rgba(0,0,0,0.3),0_4px_12px_rgba(0,0,0,0.2)]" src="../../public/assets/diseno-web.webp" alt="Diseño Web">
            <h3 class="text-[24px] sm:text-[30px] font-[600]">Diseño Web Personalizado</h3>
            <p class="text-[15px] sm:text-[20px]">Primero diseño y maqueto el sitio en base a tus objetivos.
               Luego, definimos juntos si se desarrollará con código o
               con un CMS como WordPress, según lo que más convenga en
               funcionalidad, escalabilidad y mantenimiento.</p>
        </div>
        <div>
            <img class="rounded-[10px] mb-7 shadow-[0_8px_24px_rgba(0,0,0,0.3),0_4px_12px_rgba(0,0,0,0.2)]" src="../../public/assets/SEO.webp" alt="SEO">
            <h3 class="text-[24px] sm:text-[30px] font-[600]">Optimizacion SEO Técnica</h3>
            <p class="text-[15px] sm:text-[20px]">Implemento las mejores prácticas de SEO: una estructura clara
               con palabras clave, tiempos de carga rápidos, etiquetas optimizadas
               y compatibilidad total con buscadores. Para que no solo tengas una
               web bonita, sino también visible.</p>
        </div>
        <div>
            <img class="rounded-[10px] mb-7 shadow-[0_8px_24px_rgba(0,0,0,0.3),0_4px_12px_rgba(0,0,0,0.2)]" src="../../public/assets/wpo.webp" alt="WPO">
            <h3 class="text-[24px] sm:text-[30px] font-[600]">Velocidad y Rendimiento Web</h3>
            <p class="text-[15px] sm:text-[20px]">Tu sitio cargará en segundos gracias a el uso de tecnologías ligeras
               y frameworks modernos para ofrecer una experiencia rápida, fluida
               y sin errores. Ideal para mejorar conversiones y posicionamiento.</p>
        </div>
    </div>
    <button class="bg-[#F8B179] pt-3 pb-3 pl-5 pr-5 rounded-[15px] text-[15px] sm:text-[20px] mt-4 shadow-[20px_20px_40px_rgba(0,0,0,0.6),-20px_-20px_40px_rgba(255,255,255,0.08)] hover:shadow-[16px_16px_32px_rgba(0,0,0,0.7),-16px_-16px_32px_rgba(255,255,255,0.12)] active:shadow-[inset_10px_10px_20px_rgba(0,0,0,0.5),inset_-10px_-10px_20px_rgba(255,255,255,0.1)] transition-all duration-300 hover:-translate-y-1.5 active:translate-y-0 text-white font-medium">Quiero Más Información</button>
</div>