---
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fabio Vallejo - Diseño Web</title>
  </head>
  <body class="font-sans bg-blue-500 text-amber-100">
    <slot />
  </body>
</html>